body{
  font-family:Arial, sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* border box includes width and height */
  /* includes padding and border */
  background-color: #f4f4f4;
}

main{
  padding:20px;
}

section{
  margin-bottom:40px;
}


form{
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom:15px;
}

button {
  padding:10px;
  background-color: #333;
  color:white;
  border:none;
  cursor:pointer;
}

button:hover{
  background-color: #555;
}

